.heading{
    background-color: rgb(192, 192, 192, 0.2);
    
    color: black;
    padding: 20px;
    border-radius: 20px;
}
.paragraph{
    background-color: rgb(192, 192, 192, 0.2);
   
    color: black;
    padding: 20px;
    border-radius: 20px;
}