<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Two || envens || envens PHP Template</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="envens PHP Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&amp;display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/envens-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/envens.css" />
    <link rel="stylesheet" href="assets/css/envens-responsive.css" />
        <link rel="stylesheet" href="assets/css/color-2.css" />
        </head>

<body>
<div class="page-wrapper">
    
<div class="preloader">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->
        <!-- header -->
        <header class="main-header main-header-two">
            <nav class="main-menu main-menu-two">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a href="index-2.html"><img src="assets/images/resources/logo-2.png" alt=""></a>
                            </div>
                            <div class="main-menu__login-box">
                                <div class="icon">
                                    <span class="icon-user"></span>
                                </div>
                                <div class="select-box">
                                    <select class="wide">
                                        <option data-display="Join With Us">Join With Us</option>
                                        <option value="1">Login</option>
                                        <option value="2">Register</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
	<li class="dropdown">
		<a href="index-2.html">Home </a>
		<ul>
			<li><a href="index-2.html">Home One</a></li>
			<li><a href="index2.html">Home Two</a></li>
			<li><a href="index3.html">Home Three</a></li>
			<li class="dropdown">
				<a href="#">Header Styles</a>
				<ul>
					<li><a href="index-2.html">Header One</a></li>
					<li><a href="index2.html">Header Two</a></li>
					<li><a href="index3.html">Header Three</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="about.html">About</a>
	</li>
	<li class="dropdown">
		<a href="#">Pages</a>
		<ul>
			<li><a href="speaker.html">Speaker</a></li>
			<li><a href="archives-speakers.html">Archives Speakers</a></li>
			<li><a href="speaker-single.html">Speaker Single</a></li>
			<li><a href="testimonials.html">Testimonials</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="faq.html">Faq</a></li>
			<li><a href="venue.html">Venue</a></li>
			<li><a href="sponsors.html">Sponsors</a></li>
			<li><a href="gallery.html">Gallery</a></li>
			<li><a href="404.html">404 Error</a></li>
			<li><a href="coming-soon.html">Coming Soon</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#">Schedule</a>
		<ul>
			<li><a href="schedule-list.html">Schedule List 01</a></li>
			<li><a href="schedule-list-2.html">Schedule List 02</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#">Blog</a>
		<ul>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="blog-details.html">Blog Details</a></li>
		</ul>
	</li>
	<li>
		<a href="contact.html">Contact</a>
	</li>
</ul>                            </div>
                            <div class="main-menu__social-and-search-box">
                                <div class="main-menu__social">
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                </div>
                                <div class="main-menu__search-box">
                                    <a href="#" class="main-menu__search search-toggler">
                                        <span class="icon-loupe"></span>
                                        <p class="main-menu__search-text">Search</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu main-menu-two">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->        
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="page-header__shape-1">
                <img src="assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Event Two</h2>
                    <div class="thm-breadcrumb__box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index-2.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>Event Two</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Event Two Start-->
        <section class="event-two">
            <div class="container">
                <div class="event-two__top">
                    <div class="section-title text-left">
                        <div class="section-title__tagline-box">
                            <p class="section-title__tagline section-title__tagline--two"><span>//</span> About The
                                Event</p>
                        </div>
                        <h2 class="section-title__title">Our Event Agenda And <br><span>Schedule</span></h2>
                    </div>
                    <div class="event-two__btn-box">
                        <a href="schedule-list-2.html" class="event-two__btn thm-btn-two"><span
                                class="fas fa-arrow-circle-right"></span>more Schedule</a>
                    </div>
                </div>
                <div class="row">
                    <!--Event Two Single Start-->
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="event-two__single">
                            <div class="event-two__day-box">
                                <div class="event-two__day">
                                    <div class="event-two__day-shape">
                                        <img src="assets/images/shapes/event-two-day-box-shape.png" alt="">
                                    </div>
                                    <h4>1st Day</h4>
                                    <p>March 17, 2019</p>
                                </div>
                            </div>
                            <div class="event-two__list-box">
                                <ul class="event-two__list list-unstyled">
                                    <li>
                                        <div class="event-two__client-img-box">
                                            <div class="event-two__client-img">
                                                <img src="assets/images/resources/event-two-client-img-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="event-two__content">
                                            <div class="event-two__meta">
                                                <p><span class="fas fa-clock"></span>08:00am - 05:00pm</p>
                                                <p><span class="fas fa-map-marker"></span>New Hyde, 11040</p>
                                            </div>
                                            <h3 class="event-two__title"><a href="schedule-list.html">Meeting With World
                                                    Class
                                                    Investors</a>
                                            </h3>
                                            <p class="event-two__text">Undertake specific mandates to address global
                                                challenges the the
                                                authority by delegated to the highest methood...</p>
                                            <div class="event-two__btn-box">
                                                <a href="schedule-list.html" class="event-two__btn-2 thm-btn-two"><span
                                                        class="fas fa-arrow-circle-right"></span>JHON sMITH</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="event-two__client-img-box">
                                            <div class="event-two__client-img">
                                                <img src="assets/images/resources/event-two-client-img-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="event-two__content">
                                            <div class="event-two__meta">
                                                <p><span class="fas fa-clock"></span>08:00am - 05:00pm</p>
                                                <p><span class="fas fa-map-marker"></span>New Hyde, 11040</p>
                                            </div>
                                            <h3 class="event-two__title"><a href="schedule-list.html">Registration For
                                                    Opening
                                                    Workshop</a>
                                            </h3>
                                            <p class="event-two__text">Undertake specific mandates to address global
                                                challenges the the
                                                authority by delegated to the highest methood...</p>
                                            <div class="event-two__btn-box">
                                                <a href="schedule-list.html" class="event-two__btn-2 thm-btn-two"><span
                                                        class="fas fa-arrow-circle-right"></span>JHON sMITH</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Event Two Single End-->
                    <!--Event Two Single Start-->
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="event-two__single event-two__single-2">
                            <div class="event-two__day-box">
                                <div class="event-two__day">
                                    <div class="event-two__day-shape">
                                        <img src="assets/images/shapes/event-two-day-box-shape.png" alt="">
                                    </div>
                                    <h4>2nd Day</h4>
                                    <p>March 18, 2019</p>
                                </div>
                            </div>
                            <div class="event-two__list-box">
                                <ul class="event-two__list list-unstyled">
                                    <li>
                                        <div class="event-two__client-img-box">
                                            <div class="event-two__client-img">
                                                <img src="assets/images/resources/event-two-client-img-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="event-two__content">
                                            <div class="event-two__meta">
                                                <p><span class="fas fa-clock"></span>08:00am - 05:00pm</p>
                                                <p><span class="fas fa-map-marker"></span>New Hyde, 11040</p>
                                            </div>
                                            <h3 class="event-two__title"><a href="schedule-list.html">Humble Hill
                                                    Running Day</a>
                                            </h3>
                                            <p class="event-two__text">Undertake specific mandates to address global
                                                challenges the the
                                                authority by delegated to the highest methood...</p>
                                            <div class="event-two__btn-box">
                                                <a href="schedule-list.html" class="event-two__btn-2 thm-btn-two"><span
                                                        class="fas fa-arrow-circle-right"></span>JHON sMITH</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="event-two__client-img-box">
                                            <div class="event-two__client-img">
                                                <img src="assets/images/resources/event-two-client-img-4.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="event-two__content">
                                            <div class="event-two__meta">
                                                <p><span class="fas fa-clock"></span>08:00am - 05:00pm</p>
                                                <p><span class="fas fa-map-marker"></span>New Hyde, 11040</p>
                                            </div>
                                            <h3 class="event-two__title"><a href="schedule-list.html">Greetings and
                                                    Opening Event</a>
                                            </h3>
                                            <p class="event-two__text">Undertake specific mandates to address global
                                                challenges the the
                                                authority by delegated to the highest methood...</p>
                                            <div class="event-two__btn-box">
                                                <a href="schedule-list.html" class="event-two__btn-2 thm-btn-two"><span
                                                        class="fas fa-arrow-circle-right"></span>JHON sMITH</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Event Two Single End-->
                </div>
            </div>
        </section>
        <!--Event Two End-->

        <!--Schedule List Start-->
        <section class="schedule-list">
            <div class="schedule-list__bg"
                style="background-image: url(assets/images/backgrounds/schedule-list-bg.jpg);"></div>
            <div class="container">
                <div class="schedule-list__inner">
                    <div class="schedule-list__main-tab-box tabs-box">
                        <div class="schedule-list__main-tab-buttons">
                            <ul class="tab-buttons clearfix list-unstyled">
                                <li data-tab="#firstday" class="tab-btn active-btn">
                                    <p>First Day</p>
                                </li>
                                <li data-tab="#secondday" class="tab-btn">
                                    <p>second Day</p>
                                </li>
                                <li data-tab="#thirdday" class="tab-btn">
                                    <p>Third Day</p>
                                </li>
                            </ul>
                        </div>
                        <div class="schedule-list__main-tab-content">
                            <div class="tabs-content">
                                <!--tab-->
                                <div class="tab active-tab" id="firstday">
                                    <div class="schedule-list__content-inner">
                                        <div class="schedule-list__first-half">
                                            <p>1st half</p>
                                        </div>
                                        <div class="schedule-list__second-half">
                                            <p>2nd Half</p>
                                        </div>
                                        <div class="schedule-list__more">
                                            <p>MOre</p>
                                        </div>
                                        <div class="schedule-list__single">
                                            <div class="schedule-list__date">
                                                <p>April 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-1.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Registration Opening Workshop</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-2">
                                            <div class="schedule-list__date">
                                                <p>June 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-2.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Introduction About Speakers</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-3">
                                            <div class="schedule-list__date">
                                                <p>March 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-3.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Marketing And Empathy Psycology</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div
                                            class="schedule-list__single schedule-list__single-2 schedule-list__single-4">
                                            <div class="schedule-list__date">
                                                <p>January 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-4.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Greeting And Opening Event</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-->
                                <!--tab-->
                                <div class="tab" id="secondday">
                                    <div class="schedule-list__content-inner">
                                        <div class="schedule-list__first-half">
                                            <p>1st half</p>
                                        </div>
                                        <div class="schedule-list__second-half">
                                            <p>2nd Half</p>
                                        </div>
                                        <div class="schedule-list__more">
                                            <p>MOre</p>
                                        </div>
                                        <div class="schedule-list__single">
                                            <div class="schedule-list__date">
                                                <p>April 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-1.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Registration Opening Workshop</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-2">
                                            <div class="schedule-list__date">
                                                <p>June 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-2.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Introduction About Speakers</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-3">
                                            <div class="schedule-list__date">
                                                <p>March 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-3.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Marketing And Empathy Psycology</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div
                                            class="schedule-list__single schedule-list__single-2 schedule-list__single-4">
                                            <div class="schedule-list__date">
                                                <p>January 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-4.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Greeting And Opening Event</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-->
                                <!--tab-->
                                <div class="tab" id="thirdday">
                                    <div class="schedule-list__content-inner">
                                        <div class="schedule-list__first-half">
                                            <p>1st half</p>
                                        </div>
                                        <div class="schedule-list__second-half">
                                            <p>2nd Half</p>
                                        </div>
                                        <div class="schedule-list__more">
                                            <p>MOre</p>
                                        </div>
                                        <div class="schedule-list__single">
                                            <div class="schedule-list__date">
                                                <p>April 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-1.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Registration Opening Workshop</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-2">
                                            <div class="schedule-list__date">
                                                <p>June 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-2.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Introduction About Speakers</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div class="schedule-list__single schedule-list__single-3">
                                            <div class="schedule-list__date">
                                                <p>March 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-3.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Marketing And Empathy Psycology</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                        <div
                                            class="schedule-list__single schedule-list__single-2 schedule-list__single-4">
                                            <div class="schedule-list__date">
                                                <p>January 20</p>
                                            </div>
                                            <div class="schedule-list__img">
                                                <img src="assets/images/resources/schedule-list-img-1-4.jpg" alt="">
                                            </div>
                                            <div class="schedule-list__content">
                                                <h3>Greeting And Opening Event</h3>
                                                <p>The event conference, scheduled for next
                                                    month, promises to be a dynamic </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--tab-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Schedule List End-->

        <!--Testimonial One Start-->
        <section class="testimonial-one">
            <div class="testimonial-one__shape-1 img-bounce">
                <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
            </div>
            <div class="testimonial-one__shape-2 float-bob-x">
                <img src="assets/images/shapes/testimonial-one-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="testimonial-one__top">
                    <div class="section-title text-left">
                        <div class="section-title__tagline-box">
                            <p class="section-title__tagline section-title__tagline--two"><span>//</span> Testimonials
                            </p>
                        </div>
                        <h2 class="section-title__title">What Our Client's <br><span>Feedback</span></h2>
                    </div>
                    <div class="testimonial-one__dot-style">
                        <div class="swiper-dot-style1"></div>
                    </div>
                </div>
                <div class="testimonial-one__bottom">
                    <div class="thm-swiper__slider swiper-container" data-swiper-options='{
                        "slidesPerView": 1, 
                        "spaceBetween": 0,
                        "speed": 2000,
                        "loop": true,
                        "pagination": {
                            "el": ".swiper-dot-style1",
                            "type": "bullets",
                            "clickable": true
                        },

                        

                        "navigation": {
                            "nextEl": ".swiper-button-prev1",
                            "prevEl": ".swiper-button-next1"
                        },
                        "autoplay": { "delay": 9000 },
                        "breakpoints": {
                                "0": {
                                    "spaceBetween": 0,
                                    "slidesPerView": 1
                                },
                                "375": {
                                    "spaceBetween": 0,
                                    "slidesPerView": 1
                                },
                                "575": {
                                    "spaceBetween": 0,
                                    "slidesPerView": 1
                                },
                                "768": {
                                    "spaceBetween": 24,
                                    "slidesPerView": 1
                                },
                                "992": {
                                    "spaceBetween": 24,
                                    "slidesPerView": 2
                                },
                                "1344": {
                                    "spaceBetween": 24,
                                    "slidesPerView":3
                                }
                            }
                    }'>
                        <div class="swiper-wrapper">
                            <!--Testimonial One Single Start-->
                            <div class="swiper-slide">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quotation"></span>
                                    </div>
                                    <div class="testimonial-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="testimonial-one__text">There are many variations of passages of
                                        available but the majority have to sufferedes
                                        alteratiosn in some form, by injected hums
                                        randomised words which don't slightly. City
                                        governments have various depar ments
                                        that can handles to forward...</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="assets/images/testimonial/testimonial-1-1.jpg" alt="">
                                        </div>
                                        <div class="testimonial-one__client-content">
                                            <h3><a href="testimonials.html">Thomas Smith</a></h3>
                                            <p>Visitor Canada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Testimonial One Single End-->
                            <!--Testimonial One Single Start-->
                            <div class="swiper-slide">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quotation"></span>
                                    </div>
                                    <div class="testimonial-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="testimonial-one__text">There are many variations of passages of
                                        available but the majority have to sufferedes
                                        alteratiosn in some form, by injected hums
                                        randomised words which don't slightly. City
                                        governments have various depar ments
                                        that can handles to forward...</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="assets/images/testimonial/testimonial-1-2.jpg" alt="">
                                        </div>
                                        <div class="testimonial-one__client-content">
                                            <h3><a href="testimonials.html">Daniel Son </a></h3>
                                            <p>Visitor Canada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Testimonial One Single End-->
                            <!--Testimonial One Single Start-->
                            <div class="swiper-slide">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quotation"></span>
                                    </div>
                                    <div class="testimonial-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="testimonial-one__text">There are many variations of passages of
                                        available but the majority have to sufferedes
                                        alteratiosn in some form, by injected hums
                                        randomised words which don't slightly. City
                                        governments have various depar ments
                                        that can handles to forward...</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img">
                                            <img src="assets/images/testimonial/testimonial-1-3.jpg" alt="">
                                        </div>
                                        <div class="testimonial-one__client-content">
                                            <h3><a href="testimonials.html">Donald Smith</a></h3>
                                            <p>Visitor Canada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Testimonial One Single End-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial One End-->


        <!--Site Footer Two Start-->
        <footer class="site-footer-two">
            <div class="site-footer-two__bg"
                style="background-image: url(assets/images/backgrounds/site-footer-two-bg.jpg);"></div>
            <div class="site-footer-two__shape-bg-1"
                style="background-image: url(assets/images/shapes/site-footer-two-shape-bg-1.png);"></div>
            <div class="site-footer-two__top">
                <div class="site-footer-two__top-shape-2 float-bob-x">
                    <img src="assets/images/shapes/site-footer-two-top-shape-2.png" alt="">
                </div>
                <div class="site-footer-two__top-shape-3 float-bob-y">
                    <img src="assets/images/shapes/site-footer-two-top-shape-3.png" alt="">
                </div>
                <div class="container">
                    <div class="site-footer-two__top-inner">
                        <div class="site-footer-two__top-shape-1 img-bounce">
                            <img src="assets/images/shapes/site-footer-two-top-shape-1.png" alt="">
                        </div>
                        <div class="site-footer-two__top-icon-box">
                            <div class="site-footer-two__top-icon">
                                <span class="icon-placeholder"></span>
                            </div>
                            <div class="site-footer-two__top-icon-content">
                                <p>Our Location</p>
                                <h5>191 Integer, LA 0829</h5>
                            </div>
                        </div>
                        <div class="site-footer-two__logo">
                            <a href="index-2.html"><img src="assets/images/resources/site-footer-logo-2.png" alt=""></a>
                        </div>
                        <div class="site-footer-two__top-icon-box">
                            <div class="site-footer-two__top-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="site-footer-two__top-icon-content">
                                <p>Make a Call</p>
                                <h5><a href="tel:2334567908">(+233) 456 79 08</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-two__middle">
                <div class="container">
                    <div class="site-footer-two__middle-inner">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget-two__column footer-widget-two__about">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">About Us</h3>
                                    </div>
                                    <div class="footer-widget-two__link-list-box">
                                        <ul class="footer-widget-two__link-list list-unstyled">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="about.html">Custom Widget</a></li>
                                            <li><a href="about.html">Short Codes</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="about.html">Short Codes</a></li>
                                        </ul>
                                        <ul
                                            class="footer-widget-two__link-list footer-widget-two__link-list--two list-unstyled">
                                            <li><a href="gallery.html">Our Projects</a></li>
                                            <li><a href="about.html">Terms & Conditions</a></li>
                                            <li><a href="pricing.html">Pricing Table</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget-two__column footer-widget-two__link">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Quick Link</h3>
                                    </div>
                                    <ul class="footer-widget-two__link-list list-unstyled">
                                        <li><a href="index-2.html">Home</a></li>
                                        <li><a href="about.html">Privacy Policy</a></li>
                                        <li><a href="speaker.html">Terms</a></li>
                                        <li><a href="sponsors.html">Our Awards</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget-two__column footer-widget-two__gallery">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Instagram</h3>
                                    </div>
                                    <ul class="footer-widget-two__gallery-list list-unstyled clearfix">
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-1.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-2.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-3.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-4.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-5.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-6.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget-two__column footer-widget-two__social">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Follow Us</h3>
                                    </div>
                                    <ul class="footer-widget-two__link-list list-unstyled">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-two__bottom">
                <div class="container">
                    <div class="site-footer-two__bottom-inner">
                        <p class="site-footer-two__bottom-text">Copyright © 2024 all rights reserved.</p>
                        <ul class="list-unstyled site-footer-two__botom-menu">
                            <li><a href="about.html">Privacy</a></li>
                            <li><a href="about.html">Terms & Conditions</a></li>
                            <li><a href="sponsors.html">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer Two End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index-2.html" aria-label="logo image"><img src="assets/images/resources/logo-2.png" width="150"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@envens.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fas fa-arrow-up"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/jquery.circle-type/jquery.circleType.js"></script>
    <script src="assets/vendors/jquery.circle-type/jquery.lettering.min.js"></script>
    <script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/marque/marquee.min.js"></script>

    <script src="assets/js/envens.js"></script>
</body>
</html>