<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Details || envens || envens PHP Template</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="envens PHP Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&amp;display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/envens-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/envens.css" />
    <link rel="stylesheet" href="assets/css/envens-responsive.css" />
        <link rel="stylesheet" href="assets/css/color-2.css" />
        </head>

<body>
<div class="page-wrapper">
    
<div class="preloader">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->
        <!-- header -->
        <header class="main-header main-header-two">
            <nav class="main-menu main-menu-two">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a href="index-2.html"><img src="assets/images/resources/logo-2.png" alt=""></a>
                            </div>
                            <div class="main-menu__login-box">
                                <div class="icon">
                                    <span class="icon-user"></span>
                                </div>
                                <div class="select-box">
                                    <select class="wide">
                                        <option data-display="Join With Us">Join With Us</option>
                                        <option value="1">Login</option>
                                        <option value="2">Register</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
	<li class="dropdown">
		<a href="index-2.html">Home </a>
		<ul>
			<li><a href="index-2.html">Home One</a></li>
			<li><a href="index2.html">Home Two</a></li>
			<li><a href="index3.html">Home Three</a></li>
			<li class="dropdown">
				<a href="#">Header Styles</a>
				<ul>
					<li><a href="index-2.html">Header One</a></li>
					<li><a href="index2.html">Header Two</a></li>
					<li><a href="index3.html">Header Three</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a href="about.html">About</a>
	</li>
	<li class="dropdown">
		<a href="#">Pages</a>
		<ul>
			<li><a href="speaker.html">Speaker</a></li>
			<li><a href="archives-speakers.html">Archives Speakers</a></li>
			<li><a href="speaker-single.html">Speaker Single</a></li>
			<li><a href="testimonials.html">Testimonials</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="faq.html">Faq</a></li>
			<li><a href="venue.html">Venue</a></li>
			<li><a href="sponsors.html">Sponsors</a></li>
			<li><a href="gallery.html">Gallery</a></li>
			<li><a href="404.html">404 Error</a></li>
			<li><a href="coming-soon.html">Coming Soon</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#">Schedule</a>
		<ul>
			<li><a href="schedule-list.html">Schedule List 01</a></li>
			<li><a href="schedule-list-2.html">Schedule List 02</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#">Blog</a>
		<ul>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="blog-details.html">Blog Details</a></li>
		</ul>
	</li>
	<li>
		<a href="contact.html">Contact</a>
	</li>
</ul>                            </div>
                            <div class="main-menu__social-and-search-box">
                                <div class="main-menu__social">
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                </div>
                                <div class="main-menu__search-box">
                                    <a href="#" class="main-menu__search search-toggler">
                                        <span class="icon-loupe"></span>
                                        <p class="main-menu__search-text">Search</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu main-menu-two">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->        
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="page-header__shape-1">
                <img src="assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2">
                <img src="assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3">
                <img src="assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Blog Details</h2>
                    <div class="thm-breadcrumb__box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a href="index-2.html">Home</a></li>
                            <li><span>-</span></li>
                            <li>Blog Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Blog Details Start-->
        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <h3 class="sidebar__title">Search</h3>
                                <form action="#" class="sidebar__search-form">
                                    <input type="search" placeholder="Search here">
                                    <button type="submit"><i class="icon-loupe"></i></button>
                                </form>
                            </div>
                            <div class="sidebar__single sidebar__category">
                                <h3 class="sidebar__title">Category</h3>
                                <ul class="blog-details__catagories-list list-unstyled">
                                    <li>
                                        <a href="blog-details.html">Notable Speakers<span
                                                class="icon-right-arrows"></span></a>
                                    </li>
                                    <li class="active">
                                        <a href="blog-details.html">Personal Insights<span
                                                class="icon-right-arrows"></span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Home Renovation<span
                                                class="icon-right-arrows"></span></a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">Standout speakers<span
                                                class="icon-right-arrows"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <h3 class="sidebar__title">Recent Post</h3>
                                <ul class="sidebar__post-list list-unstyled">
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="assets/images/blog/lp-1-1.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="blog-details.html">If there were any standout speakers
                                                    at the conference</a>
                                            </h3>
                                            <span class="sidebar__post-content-date">24 Mach 2024</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="assets/images/blog/lp-1-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="blog-details.html">Provide brief profiles of these
                                                    speakers and summarize</a>
                                            </h3>
                                            <span class="sidebar__post-content-date">24 Mach 2024</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="assets/images/blog/lp-1-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="blog-details.html">Share your own reflections and
                                                    insights from attending</a>
                                            </h3>
                                            <span class="sidebar__post-content-date">24 Mach 2024</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__tags">
                                <h3 class="sidebar__title">Tags Cloud</h3>
                                <div class="sidebar__tags-list">
                                    <a href="#">Event</a>
                                    <a href="#">Meetup</a>
                                    <a href="#">Toolset</a>
                                    <a href="#">Conference</a>
                                    <a href="#">Store</a>
                                    <a href="#">Public</a>
                                    <a href="#">Creative</a>
                                    <a href="#">schedule</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details__right">
                            <div class="blog-details__img">
                                <img src="assets/images/blog/blog-details-1-1.jpg" alt="">
                            </div>
                            <div class="blog-details__content">
                                <ul class="blog-details__meta list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-tag"></span>
                                        </div>
                                        <a href="#">Corporate</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-user"></span>
                                        </div>
                                        <a href="#">Paul Smith</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-comments"></span>
                                        </div>
                                        <a href="#">0 Comment</a>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-heart"></span>
                                        </div>
                                        <a href="#">0 Like</a>
                                    </li>
                                </ul>
                                <h3 class="blog-details__title-1">The Birth of Modern Architecture and its Artistic</h3>
                                <p class="blog-details__text-1">Professionals known as architects are responsible for
                                    creating architectural designs. They work with clients
                                    to understand their needs, develop design concepts, and ensure that the final
                                    construction meets
                                    safety, zoning, and environmental regulations.</p>
                                <div class="blog-details__quote-and-text">
                                    <div class="blog-details__quote">
                                        <span class="fas fa-quote-left"></span>
                                    </div>
                                    <p class="blog-details__quote-text">In essence, architecture is a multifaceted field
                                        that combines artistic creativity, engineering principles, and societal
                                        considerations to shape the physical environment in which we live, work, and
                                        play.</p>
                                </div>
                                <ul class="blog-details__points list-unstyled">
                                    <li>
                                        <div class="blog-details__points-shape"></div>
                                        <p>Architectural styles vary globally, reflecting regional cultures, climates,
                                            and materials.</p>
                                    </li>
                                    <li>
                                        <div class="blog-details__points-shape"></div>
                                        <p>Globalization has led to the exchange of architectural ideas and practices
                                            worldwide.</p>
                                    </li>
                                    <li>
                                        <div class="blog-details__points-shape"></div>
                                        <p>Increasingly, architects focus on environmentally friendly and sustainable
                                            design practices.</p>
                                    </li>
                                    <li>
                                        <div class="blog-details__points-shape"></div>
                                        <p>Buildings must be structurally sound to ensure safety.</p>
                                    </li>
                                </ul>
                                <p class="blog-details__quote-text-2">In essence, architecture is a multifaceted field
                                    that combines artistic creativity, engineering principles, and societal
                                    considerations to shape the physical environment in which we live, work, and
                                    play.</p>
                                <div class="blog-details__social-box">
                                    <p>Share:</p>
                                    <div class="blog-details__social">
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                        <a href="#"><span class="fab fa-instagram"></span></a>
                                        <a href="#"><span class="fab fa-pinterest-p"></span></a>
                                    </div>
                                </div>
                                <div class="comment-one">
                                    <h3 class="comment-one__title">Comments (2)</h3>
                                    <div class="comment-one__single">
                                        <div class="comment-one__image">
                                            <img src="assets/images/blog/comment-1-1.jpg" alt="">
                                        </div>
                                        <div class="comment-one__content">
                                            <h3>Mahina B. Sanwie</h3>
                                            <p>Blessed heaven in seasons man were image void seasons given bearing
                                                fly<br>
                                                multiply every deed you can surem dolor mesurement good.</p>
                                            <div class="comment-one__date-and-btn">
                                                <p class="comment-one__date">February 03. 2023</p>
                                                <a href="blog-details.html" class="comment-one__btn">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-one__single comment-one__single-2">
                                        <div class="comment-one__image">
                                            <img src="assets/images/blog/comment-1-2.jpg" alt="">
                                        </div>
                                        <div class="comment-one__content">
                                            <h3>Jhone Langua</h3>
                                            <p>Blessed heaven in seasons man were image void seasons given bearing
                                                fly<br>
                                                multiply every deed you can surem dolor mesurement good.</p>
                                            <div class="comment-one__date-and-btn">
                                                <p class="comment-one__date">February 03. 2023</p>
                                                <a href="blog-details.html" class="comment-one__btn">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-one__single comment-one__single-3">
                                        <div class="comment-one__image">
                                            <img src="assets/images/blog/comment-1-3.jpg" alt="">
                                        </div>
                                        <div class="comment-one__content">
                                            <h3>Kaniz D. Warnor</h3>
                                            <p>Blessed heaven in seasons man were image void seasons given bearing
                                                fly<br>
                                                multiply every deed you can surem dolor mesurement good.</p>
                                            <div class="comment-one__date-and-btn">
                                                <p class="comment-one__date">February 03. 2023</p>
                                                <a href="blog-details.html" class="comment-one__btn">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-form__form-inner">
                                    <h3 class="comment-form__title">Leave A comment</h3>
                                    <form action="https://thememxpro.com/php-template/envens/assets/inc/sendemail.php"
                                        class="comment-form__form contact-form-validated" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="text" placeholder="Name" name="name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="comment-form__input-box">
                                                    <input type="text" placeholder="Subject" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12">
                                                <div class="comment-form__input-box text-message-box">
                                                    <textarea name="message" placeholder="Message"></textarea>
                                                </div>
                                                <div class="comment-form__btn-box">
                                                    <button type="submit" class="comment-form__btn">Leave
                                                        Comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="result"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Details End-->



        <!--Site Footer Two Start-->
<footer class="site-footer-two">
            <div class="site-footer-two__bg"
                style="background-image: url(assets/images/backgrounds/site-footer-two-bg.jpg);"></div>
            <div class="site-footer-two__shape-bg-1"
                style="background-image: url(assets/images/shapes/site-footer-two-shape-bg-1.png);"></div>
            <div class="site-footer-two__top">
                <div class="site-footer-two__top-shape-2 float-bob-x">
                    <img src="assets/images/shapes/site-footer-two-top-shape-2.png" alt="">
                </div>
                <div class="site-footer-two__top-shape-3 float-bob-y">
                    <img src="assets/images/shapes/site-footer-two-top-shape-3.png" alt="">
                </div>
                <div class="container">
                    <div class="site-footer-two__top-inner">
                        <div class="site-footer-two__top-shape-1 img-bounce">
                            <img src="assets/images/shapes/site-footer-two-top-shape-1.png" alt="">
                        </div>
                        <div class="site-footer-two__top-icon-box">
                            <div class="site-footer-two__top-icon">
                                <span class="icon-placeholder"></span>
                            </div>
                            <div class="site-footer-two__top-icon-content">
                                <p>Our Location</p>
                                <h5>191 Integer, LA 0829</h5>
                            </div>
                        </div>
                        <div class="site-footer-two__logo">
                            <a href="index-2.html"><img src="assets/images/resources/site-footer-logo-2.png" alt=""></a>
                        </div>
                        <div class="site-footer-two__top-icon-box">
                            <div class="site-footer-two__top-icon">
                                <span class="icon-telephone"></span>
                            </div>
                            <div class="site-footer-two__top-icon-content">
                                <p>Make a Call</p>
                                <h5><a href="tel:2334567908">(+233) 456 79 08</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-two__middle">
                <div class="container">
                    <div class="site-footer-two__middle-inner">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget-two__column footer-widget-two__about">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">About Us</h3>
                                    </div>
                                    <div class="footer-widget-two__link-list-box">
                                        <ul class="footer-widget-two__link-list list-unstyled">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="about.html">Custom Widget</a></li>
                                            <li><a href="about.html">Short Codes</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="about.html">Short Codes</a></li>
                                        </ul>
                                        <ul
                                            class="footer-widget-two__link-list footer-widget-two__link-list--two list-unstyled">
                                            <li><a href="gallery.html">Our Projects</a></li>
                                            <li><a href="about.html">Terms & Conditions</a></li>
                                            <li><a href="pricing.html">Pricing Table</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget-two__column footer-widget-two__link">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Quick Link</h3>
                                    </div>
                                    <ul class="footer-widget-two__link-list list-unstyled">
                                        <li><a href="index-2.html">Home</a></li>
                                        <li><a href="about.html">Privacy Policy</a></li>
                                        <li><a href="speaker.html">Terms</a></li>
                                        <li><a href="sponsors.html">Our Awards</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget-two__column footer-widget-two__gallery">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Instagram</h3>
                                    </div>
                                    <ul class="footer-widget-two__gallery-list list-unstyled clearfix">
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-1.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-2.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-3.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-4.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-5.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-widget-two__gallery-img">
                                                <img src="assets/images/gallery/footer-widget-two-gallery-1-6.jpg"
                                                    alt="">
                                                <a href="#"><span class="icon-link"></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget-two__column footer-widget-two__social">
                                    <div class="footer-widget-two__title-box">
                                        <h3 class="footer-widget-two__title">Follow Us</h3>
                                    </div>
                                    <ul class="footer-widget-two__link-list list-unstyled">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer-two__bottom">
                <div class="container">
                    <div class="site-footer-two__bottom-inner">
                        <p class="site-footer-two__bottom-text">Copyright © 2024 all rights reserved.</p>
                        <ul class="list-unstyled site-footer-two__botom-menu">
                            <li><a href="about.html">Privacy</a></li>
                            <li><a href="about.html">Terms & Conditions</a></li>
                            <li><a href="sponsors.html">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer Two End-->        </div><!-- /.page-wrapper -->


<div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index-2.html" aria-label="logo image"><img src="assets/images/resources/logo-1.png" width="150"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@envens.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup --><a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fas fa-arrow-up"></i></a><script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/jquery.circle-type/jquery.circleType.js"></script>
    <script src="assets/vendors/jquery.circle-type/jquery.lettering.min.js"></script>
    <script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/marque/marquee.min.js"></script>
    <!-- template js -->
    <script src="assets/js/envens.js"></script></body>
</html>