@media screen and (width < 780px) {
    h1{
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        background-color: teal;
        text-transform: uppercase;
        font-size:45px;
        text-align: center;
        
    }
}
@media screen and (width > 780px) {
    h1{
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        background-color: tomato;
        text-transform: uppercase;
        font-size:65px;
        text-align: center;
        
    }
}
@media screen and (width > 1020px) {
    h1{
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        background-color: orange;
        text-transform: uppercase;
        font-size:65px;
        text-align: center; 
    }
}

@media screen and (width > 1420px) {
    h1{
        padding: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        background-color: rgb(32, 2, 78);
        text-transform: uppercase;
        font-size:65px;
        text-align: center; 
    }
}
