$default-heading-font-size: 30px;
$default-paragraph-font-size: 20px;
$default-heading-bg: teal;
$default-heading-text-color: white;
$text-transform-upper: uppercase;
$text-transform-lower: lowercase;
$default-padding: 30px;
