$default-heading-font-size: 30px;
$default-paragraph-font-size: 20px;
$default-heading-bg: teal;
$default-heading-text-color: white;
$text-transform-upper: uppercase;
$text-transform-lower: lowercase;
$default-padding: 40px;
$primary-bg-color: tomato;
$relative-bg-color: #c1c1c1;
$default-top-position:30px;
$default-left-position:30px;