.grid-container {
    display: grid;
    /* grid-template-columns: 300px 150px 150px; */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1.9fr 0.1fr;
    /* grid-template-rows: 80px 200px; */
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 2fr);

    /* column-gap: 50px;
    row-gap: 50px; */
    gap: 50px 100px;
    /* gap: 150px; */
    /* background-color: #21057d; */
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(8, 230, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  /* .item-9{
    grid-column: 1 / 3;
  } */