.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: teal;
    padding: 30px;
    
  }
  .nav-item {
    list-style: none;
  }
  .nav-link{
    color:white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link:hover{
    cursor: pointer;
    color:#c1c1c1;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  /* .item-9{
    grid-column: 1 / 3;
  } */